<div class="container">
    <h1 class="display-1">
     {{value[0]}}:{{value[1] < 10 ? 0 : ''}}{{value[1]}}
    </h1>
    <div class="controls">
      <div class="example-button-container" *ngIf="!startTimerClicked">
        <button (click)="startTimer()" >
            <mat-icon>play_circle_filled</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button (click)="stopTimer()">
            <mat-icon>stop</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button  (click)="resetTimer()" (click)="startTimer()">
            <mat-icon>replay</mat-icon>
        </button>
      </div>
    </div>
  </div>