.example-spacer {
  flex: 1 1 auto;
}


h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

mat-toolbar {
  background-color: #ff6961;
  padding-top: 0.75em;
  padding-bottom: 0.5em;
}

mat-icon {
  color: #dc143c;
}

button {
  background-color: transparent;
}

a {
  margin-left: 1em;
  color: black;
  text-decoration: none;
}

.right{
  display: flex;
  align-items: center;
}
